body {
  background-color: silver;
}
#main-header {
  background-color: yellow;
  color: black;
  text-align: right;
}
p {
  text-align: left;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
colum:hover,
header:hover {
  background-color: aquamarine;
}
